<div class="docs-page">

  <aside class="docs-aside">
    <header class="docs-header">
      <h1 class="docs-title">PREY</h1>
      <p class="docs-tagline">Style guide</small>
    </header>

    <nav class="docs-nav">
      <ul class="docs-menu">
      
        <li><a class="docs-link" href="base_css.html">Base CSS</a></li>
      
      </ul>
    </nav>
  </aside>

  <section class="docs-body content">
    <ul class="docs-menu">
    
      <li><a class="docs-link" href="#button">Buttons</a></li>
    
    </ul>
<h1 id="button">Buttons</h1>

<h2>hola</h2>

<p>Button styles can be applied to any element. Typically you&#39;ll want
to use either a <code>&lt;button&gt;</code> or an <code>&lt;a&gt;</code> element:</p>
<div class="codeExample"><div class="exampleOutput"><button class="btn btnDefault"> Click </button>
<button class="btn btnDefault"> Click </button>
<button class="btn btnDefault"> Click </button>
</div><div class="codeBlock"><div class="highlight"><pre><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btnDefault&quot;</span><span class="nt">&gt;</span> Click <span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btnDefault&quot;</span><span class="nt">&gt;</span> Click <span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btnDefault&quot;</span><span class="nt">&gt;</span> Click <span class="nt">&lt;/button&gt;</span>
</pre></div></div></div>
<p>If your button is actually a link to another page, please use the
<code>&lt;a&gt;</code> element, while if your button performs an action, such as
submitting a form or triggering some javascript event, then use a
<code>&lt;button&gt;</code> element.</p>

  </section>

  <footer class="docs-footer">
    <p>This documentation generated using <a class="docs-link" href="http://github.com/trulia/hologram">Hologram</a>
  </footer>

</div>
