@charset "utf-8";

/*doc

---
title: Buttons
name: button
category: Base CSS
---

## hola

Button styles can be applied to any element. Typically you'll want
to use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btnDefault"> Click </button>
<button class="btn btnDefault"> Click </button>
<button class="btn btnDefault"> Click </button>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as
submitting a form or triggering some javascript event, then use a
`<button>` element.
*/

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }
